@import url('https://fonts.googleapis.com/css?family=Poppins:400');
@import url('https://fonts.googleapis.com/css?family=Poppins:400i');
@import url('https://fonts.googleapis.com/css?family=Poppins:500');
@import url('https://fonts.googleapis.com/css?family=Poppins:500i');
@import url('https://fonts.googleapis.com/css?family=Poppins:600');
@import url('https://fonts.googleapis.com/css?family=Poppins:600i');
@import url('https://fonts.googleapis.com/css?family=Poppins:700');
@import url('https://fonts.googleapis.com/css?family=Poppins:700i');
@import url('https://fonts.googleapis.com/css?family=Poppins:800');
@import url('https://fonts.googleapis.com/css?family=Poppins:800i');
@import url('https://fonts.googleapis.com/css?family=Poppins:900');
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');

$headerHeigth: 85px;

$black: #1f1f1f;
$gray: #494949;
$gray2: #666;
$pink: #EFC1AC;
$blueish: #afafee;
$blue: #333372;
$white: #FFFFFF;
$light: #F5F5F5;
$shadow: rgba(0, 0, 0, 0.7);

* {
    box-sizing: border-box;
    border: none;
    color: $black;
    font-family: 'Poppins', sans-serif;
    //font-family: Arial, sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    list-style: none;
    scroll-behavior: smooth;
    color: $black;

    &::selection {
        background: $pink;
        color: $white;
    }
}

body {
    //background: $light;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    position: relative;
    overflow-x: hidden;
    z-index: 0;

    .blobUno {
        position: absolute;
        z-index: 1;
        top: 100vh;
        right: -100px;
        width: 500px;
        opacity: 0.7;
    }

    .blobDos {
        position: absolute;
        z-index: 1;
        bottom: 250px;
        left: 350px;
        width: 300px;
        opacity: 0.7;
    }

    .blobTres {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        width: 400px;
        opacity: 0.7;
    }

    .blobCuatro {
        position: absolute;
        z-index: 1;
        top: 0;
        right: -100px;
        width: 500px;
        opacity: 0.7;
    }

    #navBar {
        width: 335px;
        height: 100vh;
        background: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        position: fixed;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        top: 0;
        left: 0;

        * {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            width: 100%;
        }

        .info {
            justify-content: center;
            flex: 40%;

            .logo {
                max-width: 90px;
                margin-bottom: 20px;
            }

            .nombre {
                margin-bottom: 10px;
            }

            .profession {
                color: $gray;
                font-weight: 300;
                font-size: 16px;
            }
        }

        .menu {
            justify-content: center;
            flex: 40%;

            li {
                height: 55px;
                color: $gray;
                border-top: solid 1px $light;
                border-right: solid 2px #33337200;
                font-weight: 600;
                cursor: pointer;

                &:last-child {
                    border-bottom: solid 1px $light;
                }

                &:hover {
                    border-top: solid 1px $light;
                    border-right: solid 2px $blue;
                    background: #fafafa;
                }

                &.active {
                    border-top: solid 1px $light;
                    border-right: solid 2px $blue;
                    background: #fafafa;
                }
            }
        }

        .social {
            flex-direction: row;
            justify-content: center;
            flex: 20%;

            a {
                background: #f5f5f5;
                height: 32px;
                width: 32px;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;

                img {
                    height: 14px;
                    max-width: 19px;
                    filter: brightness(55%);
                }

                &:nth-child(2) {
                    margin-left: 5px;
                    margin-right: 5px;
                }

                &:hover {
                    background: $pink;

                    img {
                        filter: brightness(100%);
                    }
                }
            }
        }
    }

    #content {
        background: $white;
        min-height: 101vh;
        width: calc(100vw - 367px);
        box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.1);

        * {
            z-index: 1;
        }

        #home {
            background: $blueish;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            height: 100vh;
            position: relative;

            * {
                color: $white;
            }

            h1 {
                font-size: 60px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            h2 {
                font-size: 30px;
                font-weight: 300;
            }

            h3 {
                font-size: 20px;
                font-weight: 100;
            }

            button {
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: space-around;
                height: 50px;
                width: 230px;
                margin-top: 70px;
                transform: translate(0, 30px);
                background: #33337200;
                border: 3px solid $white;
                font-size: 20px;
                color: $white;
                cursor: pointer;

                img {
                    height: 20px;
                    opacity: 0;
                    width: 0;
                    margin: -20px;
                }

                &:hover {
                    width: 250px;
                    background: $blue;
                    border: 0px;

                    img {
                        height: 20px;
                        opacity: 1;
                        width: unset;
                        margin: 0;
                    }
                }
            }

            .scroll {
                width: 15px;
                position: absolute;
                bottom: 15px;
                z-index: 999;
            }
        }

        #about {
            z-index: 9;
            padding: 40px 60px;
            padding-bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: flex-start;

            * {
                z-index: 2;
            }

            .title {
                align-self: center;
                font-size: 22px;
                height: 38px;
                padding: 0 5px;
                border-bottom: solid 2px $blueish;
                margin-bottom: 50px;
                font-weight: 800;
            }

            h3 {
                margin-bottom: 10px;
            }

            p {
                color: $gray;
                width: 60%;
                line-height: 1.7em;
                text-align: justify;
                margin-bottom: 50px;
                color: $gray2;
            }

            #skills {
                display: flex;
                align-items: flex-start;
                align-content: flex-start;
                justify-content: space-between;

                .skill {
                    flex: 22% 0 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-content: center;
                    justify-content: center;

                    img {
                        max-height: 70px;
                        margin-bottom: 20px;
                    }

                    p {
                        width: 100%;
                        text-align: center justify;
                        font-size: 12px;
                        font-weight: 200;
                    }
                }
            }
        }

        #contact {
            z-index: 9;
            padding: 40px 60px;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: flex-start;

            .title {
                align-self: center;
                font-size: 22px;
                height: 38px;
                padding: 0 5px;
                border-bottom: solid 2px $blue;
                margin-bottom: 50px;
                font-weight: 800;
            }

            .content {
                width: 100%;
                display: flex;
                align-content: flex-start;
                align-items: flex-start;
                justify-content: space-between;

                .info {
                    flex: 25% 0 1;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    align-items: center;
                    justify-content: center;

                    article {
                        background: $white;
                        display: flex;
                        flex-direction: column;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        border: solid 2px $light;
                        height: 120px;
                        width: 100%;
                        margin-bottom: 12px;
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);

                        img {
                            max-height: 40px;
                            max-width: 35px;
                            margin-bottom: 10px;
                            //filter: saturate(0%);
                        }

                        h1 {
                            color: $gray2;
                            font-size: 15px;
                            font-weight: 300;
                        }

                        &:hover {
                            transform: translate(0, -5px);
                            box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.1);
                        }
                    }
                }

                .contactForm {
                    flex: 70% 0 1;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    align-items: flex-start;
                    justify-content: flex-start;

                    label {
                        margin-bottom: 5px;
                        color: $gray2;
                        font-weight: 600;
                        align-self: left;
                    }

                    input,
                    textarea {
                        width: 100%;
                        padding: 10px;
                        min-height: 45px;
                        margin-bottom: 20px;
                        border: solid 1px #ddd;
                        resize: none;
                        font-family: 'Poppins', sans-serif;

                        &::placeholder {
                            font-family: 'Poppins', sans-serif;
                            font-weight: 600;
                            color: #bbb;
                        }
                    }

                    button {
                        align-self: flex-end;
                        width: 120px;
                        height: 40px;
                        background: $white;
                        border: 3px solid $pink;
                        font-size: 16px;
                        color: #777;

                        &:hover {
                            background: $pink;
                            color: $white;
                        }
                    }
                }
            }
        }

        #portfolio {
            z-index: 9;
            padding: 40px 40px;
            padding-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;

            .title {
                align-self: center;
                font-size: 22px;
                height: 38px;
                padding: 0 5px;
                border-bottom: solid 2px $blue;
                margin-bottom: 30px;
                font-weight: 800;
            }

            #projects {
                z-index: 9;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-content: center;
                align-items: center;
                justify-content: space-between;
                position: relative;
                width: 930px;

                .project {
                    width: 450px;
                    height: 450px;
                    margin-bottom: 30px;
                    background: $blueish;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    position: relative;
                    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);

                    .thumb {
                        height: 100%;
                        transition-duration: .4s;
                    }

                    .characteristics {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        background: rgba(239, 193, 172, 0.9);
                        opacity: 0;
                        transition-duration: 0.25s;

                        h2 {
                            font-weight: 800;
                            font-size: 26;
                            color: $white;
                            text-align: center;
                        }

                        p {
                            font-size: 18px;
                            font-weight: 300;
                            color: $white;
                            text-align: center;
                        }
                    }

                    &:hover {
                        .thumb {
                            transform: rotate(-1deg) scale(1.1);
                            filter: saturate(0) brightness(90%);
                        }
                        .characteristics {
                            opacity: 1;
                        }
                    }
                }


            }

            #projectImages {

                //box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.3);
                //margin-left: -60px;
                //width: inherit;
                margin-bottom: 30px;
                img {
                    width: 100%;
                    margin-top: -7px;
                }
    
                h1 {
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: flex-start;
                    font-family: 'Encode Sans', sans-serif;
                    font-weight: 800;
                    font-size: 26px;
                    z-index: 1;
                    position: relative;
                    height: 120px;
    
                    img {
                        width: 220px;
                        z-index: -1;
                        position: absolute;
                        animation: rotation 10s infinite linear;
                    }
                    span {
                        position: absolute;
                        font-size: 13px;
                        color: $gray2;
                        bottom: 20px;
                    }
                }
    
                .left {
                    justify-content: flex-start;
    
                    img {
                        left: -100px;
                    }
                }
                .center {
                    justify-content: center;
                    
                    font-family: 'Montserrat', sans-serif;
                    font-size: 50px;
                    img {
                        width: 60px;
                        top: 20px;
                        margin-left: 10px;
                    }
                }
    
                .right {
                    justify-content: flex-end;
    
                    img {
                        right: -100px;
                    }
                }
    
                @keyframes rotation {
                    from {
                        -webkit-transform: rotate(0deg);
                    }
    
                    to {
                        -webkit-transform: rotate(359deg);
                    }
                }
            }
        }
    }

    #loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: $pink;
        animation: dissapear 0.8s ease-out 2.3s 1 forwards;

        * {
            opacity: 0;
        }
        img {
            width: 50px;
            margin-bottom: 20px;
            animation: appear 0.3s linear 1.2s 1 forwards
        }
        .bar {
            width: 180px;
            height: 20px;
            border-radius: 100px;
            padding: 3px;
            border: solid 3px $white;
            margin-bottom: 15px;
            opacity: 1;
            .fill {
                width: 0%;
                height: 100%;
                background: $white;
                border-radius: 100px;
                opacity: 1;

                animation: load 1.2s linear 1 forwards;
            }
        }

        span {
            font-size: 22px;
            font-weight: 700;
            color: $white;
            margin-left: 5px;
            animation: appear 0.3s linear 1.5s 1 forwards
        }
    }
}

@keyframes load {
    0% {
        width: 0%
    }
    50% {
        width:65%;
    }
    100% {
        width: 100%;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translate(0, 10px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes dissapear {
    from {
        opacity: 1;
        z-index: 999;
    }
    to {
        opacity: 0;
        z-index: -9;
    }
}

@keyframes contentAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}